<configuration>
  <packageSources>
    <clear />

    <add key="Signature-OpenSource" value="https://pkgs.dev.azure.com/Signature-OpenSource/_packaging/Default/nuget/v3/index.json" />
    <add key="ZeroBuild-Feed" value="C:/Dev/CK/LocalFeed/ZeroBuild" />
  </packageSources>

  <packageSourceCredentials>
    <Signature-OpenSource>
      <add key="Username" value="SignatureOpenSource" />
      <add key="ClearTextPassword" value="c56geu5acyhfgeiqhdl3t2xo5xumlztnjf736zdbogyxtaulydlq" />
    </Signature-OpenSource>
  </packageSourceCredentials>
</configuration>