<configuration>
  <packageSources>
    <clear />

    <add key="LocalFeed-Release" value="C:\Dev\CK\LocalFeed\Release" />
    <add key="LocalFeed-CI" value="C:\Dev\CK\LocalFeed\CI" />
    <add key="LocalFeed-Local" value="C:\Dev\CK\LocalFeed\Local" />
    <add key="Signature-OpenSource" value="https://pkgs.dev.azure.com/Signature-OpenSource/_packaging/Default/nuget/v3/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <Signature-OpenSource>
      <add key="Username" value="SignatureOpenSource" />
      <add key="ClearTextPassword" value="c56geu5acyhfgeiqhdl3t2xo5xumlztnjf736zdbogyxtaulydlq" />
    </Signature-OpenSource>
  </packageSourceCredentials>
</configuration>