<configuration>
  <packageSources>
    <clear />
    <add key="Invenietis - Release" value="https://www.myget.org/F/invenietis-release/api/v3/index.json" />
    <add key="Invenietis - Preview" value="https://www.myget.org/F/invenietis-preview/api/v3/index.json" />
    <add key="Invenietis - CI" value="https://www.myget.org/F/invenietis-ci/api/v3/index.json" />
    <add key="LocalFeed-Release" value="C:\Dev\CK\LocalFeed\Release" />
    <add key="LocalFeed-CI" value="C:\Dev\CK\LocalFeed\CI" />
    <add key="LocalFeed-Local" value="C:\Dev\CK\LocalFeed\Local" />
  </packageSources>
</configuration>