<configuration><appSettings>
  -- This forces the Solutions that generate components to use the LocalFeed/Local/CKSetupStore
  <add key="CKSetup/DefaultStoreUrl" value="C:\Dev\LocalFeed\Local\CKSetupStore" />
  <add key="CKSetup/DefaultStorePath" value="C:\Dev\LocalFeed\Local\CKSetupStore" />
</appSettings></configuration>